<div class="row">
  <ol class="breadcrumb">
    <li><a routerLink="dashboard">Dashboard</a></li>
    <li><a routerLink="formulaire/list">Formulaires</a></li>
    <li class="active">{{title}}</li>
  </ol>
</div>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{title}}</h1>
  </div>
</div>
<div class="row">
  <form name="new-formulaire-form">




    <div class="col-lg-12 form-group">




      <fieldset>
        <legend>Metadata</legend>

        <table >

          <tr>
            <td>Niveau</td>
            <td>Serie</td>
            <td>Etat</td>
            <td>classe</td>
          </tr>

          <tr>
            <td>
              <div>
                <select >
                  <option value="0">Tle</option>
                  <option value="1">1ere</option>
                  <option value="2">2nd</option>
                  <option value="3">3eme</option>
                  <option value="4">4eme</option>
                  <option value="5">5ere</option>
                  <option value="6">6eme</option>
                </select>
              </div>
            </td>
            <td>
              <div>
                <select>
                  <option value="S">S</option>
                  <option value="ES">ES</option>
                  <option value="L">L</option>
                  <option value="Tech">Technologie</option>
                </select>
              </div>
            </td>
            <td>
              <div>
                <select>
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </select>
              </div>
            </td>

            <td>
              <div >
                <select>
                  <option value="classe1">A</option>
                  <option value="classe2">B</option>
                  <option value="classe3">C</option>
                  <option value="classe4">D</option>
                </select>
              </div>
            </td>

          </tr>
        </table>
      </fieldset>

    </div>
      <br>
      <div class="col-lg-12 form-group">
        <label for="Nom">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="formulaireInfo.nom" placeholder="Titre du formulaire">
      </div>

      <fieldset>
        <legend>Banque de questions</legend>
  <!--      <H4>Filtres</H4>

        <table >

          <tr>
            <td>Niveau</td>
            <td>Serie</td>
            <td>Etablissement</td>
            <td>classe</td>
          </tr>

          <tr>
            <td>
              <div>
                <select >
                  <option value="0">Tle</option>
                  <option value="1">1ere</option>
                  <option value="2">2nd</option>
                  <option value="3">3eme</option>
                  <option value="4">4eme</option>
                  <option value="5">5ere</option>
                  <option value="6">6eme</option>
                </select>
              </div>
            </td>
            <td>
              <div>
                <select>
                  <option value="S">S</option>
                  <option value="ES">ES</option>
                  <option value="L">L</option>
                  <option value="Tech">Technologie</option>
                </select>
              </div>
            </td>
            <td>
              <div>
                <select>
                  <option value="etab1">etab1</option>
                  <option value="etab2">Etab2</option>
                  <option value="etab3">Etab3</option>
                  <option value="etab4">Etab4</option>
                </select>
              </div>
            </td>

            <td>
              <div >
                <select>
                  <option value="classe1">A</option>
                  <option value="classe2">B</option>
                  <option value="classe3">C</option>
                  <option value="classe4">D</option>
                </select>
              </div>
            </td>

          </tr>
        </table>-->
        <app-question-combo></app-question-combo>
      </fieldset>



    <div class="clearfix"></div>
    <br/>
    <div class="col-lg-12">
      <a class="btn btn-info" routerLink="/formulaire/list">Annuler</a>
      <button class="btn btn-success" (click) = "addFormulaire()" *ngIf="action == 'add'">Sauvegarder le formulaire</button>
      <button class="btn btn-success" (click) = "previsualiserFormulaire()" *ngIf="action == 'add'">Prévisualiser le formulaire</button>
      <button class="btn btn-success" (click) = "updateFormulaire()" *ngIf="action == 'add'">Sauvegarder et démarrer une campagne</button>





    </div>
  </form>
</div>


<modal #modal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Alert!</h4>
  </modal-header>
  <modal-body>
    Voulez-vous importer une question ou souhaitez-vous en créer une ?

  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Annuler</button>
    <!--<button type="button" class="btn btn-primary" (click)="addQuestion();modal.close()">Ajouter une question</button>-->
    <button type="button" class="btn btn-primary" (click)="importerQuestion();modal.close()">Importer une question</button>
  </modal-footer>
</modal>




