<div class="row">
  <ol class="breadcrumb">
    <li><a routerLink="dashboard">Dashboard</a></li>
    <li><a routerLink="formulaire/list">Formulaires</a></li>
    <li class="active">{{title}}</li>
  </ol>
</div>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{title}}</h1>
  </div>
</div>
<div class="row">
  <form name="new-formulaire-form">

    <div class="col-lg-12 form-group">

      <fieldset>
        <legend>Metadata</legend>

        <table >
          <tr>
            <td>Etat</td>
          </tr>
          <tr>
            <td>
              <div>
                <select id="etat" name="etat"  [(ngModel)]="formulaireInfo.etat">
                  <option value="actif">actif</option>
                  <option value="inactif">inactif</option>
                </select>
              </div>
            </td>
          </tr>
        </table>
      </fieldset>

    </div>
      <br>
      <div class="col-lg-12 form-group">
        <label for="Nom">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="formulaireInfo.nom" placeholder="Titre du formulaire">
      </div>
    <div class="col-lg-12 form-group">
      <fieldset>
        <legend>Banque de questions</legend>
 <!--
        <app-question-combo></app-question-combo>
        {{ comboQuestion.listQuestionSelected}}
  -->
        <app-question>   </app-question>
      </fieldset>

    </div>


<modal #modal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Alert!</h4>
  </modal-header>
  <modal-body>
    Voulez-vous importer une question ou souhaitez-vous en créer une ?

  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Annuler</button>
    <!--<button type="button" class="btn btn-primary" (click)="addQuestion();modal.close()">Ajouter une question</button>-->
    <button type="button" class="btn btn-primary" (click)="importerQuestion();modal.close()">Importer une question</button>
  </modal-footer>
</modal>




