<br/>
<form name="text" class="form-inline">
  <div class="form-group">
    <input type="text" name="nom" placeholder="Rechercher par nom" [(ngModel)]="searchName" class="form-control"/>
    <input type="text" name="ville" placeholder="Rechercher par ville" [(ngModel)]="searchCity" class="form-control"/>
  </div>
</form>
<table class="table table-striped" [mfData]="etablissements" #mf="mfDataTable" [mfRowsOnPage]="25">
  <thead>
  <tr>
    <th style="width: 10%">
      <mfDefaultSorter by="id">id</mfDefaultSorter>
    </th>
    <th style="width: 40%">
      <mfDefaultSorter by="nom">nom</mfDefaultSorter>
    </th>
    <th style="width: 40%">
      <mfDefaultSorter by="ville">ville</mfDefaultSorter>
    </th>
    <th style="width: 10%">
      Actions
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of mf.data | filterBy:{nom: searchName} | filterBy:{ville: searchCity}">
    <td>{{item.id}}</td>
    <td>{{item.nom}}</td>
    <td>{{item.ville}}</td>
    <td>
      <a routerLink="/etablissement/edit/{{item.id}}" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></a>
      <button class="btn btn-sm btn-warning" (click) = "deleteEtablissement(item.id)"><i class="fa fa-trash-o"></i></button>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="4">
      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
    </td>
  </tr>
  </tfoot>
</table>
<br/>
<div style="height: 500px; overflow: auto">
  <div class="panel panel-default" *ngFor="let item of etablissements | filterBy:{nom: searchName} | filterBy:{ville: searchCity}">
    <div class="panel-heading">{{item.nom}}</div>
    <div class="panel-body">
      <div style="float: left">
        {{item.ville}}
      </div>
      <div style="float: right">
        <a routerLink="/etablissement/edit/{{item.id}}" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> Modifier</a>
        <button class="btn btn-sm btn-warning" (click) = "idEtablissement=item.id;modal.open()"><i class="fa fa-trash-o"></i> Supprimer</button>
      </div>
    </div>
  </div>
</div>

<modal #modal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Alert!</h4>
  </modal-header>
  <modal-body>
    Attention! Vous allez supprimer un établissement!
    <br/>
    Souhaitez-vous continuer?
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Annuler</button>
    <button type="button" class="btn btn-primary" (click)="deleteEtablissement();modal.close()">Ok</button>
  </modal-footer>
</modal>
